<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/usercenter.css" rel="stylesheet" type="text/css"/>
</block>
<block name="header">
    <br/>
</block>
<block name="body">
    <script>
        function center_toggle(name) {
            var show = $('#' + name + '_panel').css('display');
            $('.center_panel').hide();
            $('.center_arrow_right').show();
            $('.center_arrow_bottom').hide()
            if (show == 'none') {
                $('#' + name + '_panel').show();
                $('#' + name + '_toggle_right').hide();
                $('#' + name + '_toggle_bottom').show()
            } else {
                $('#' + name + '_toggle_right').show();
                $('#' + name + '_toggle_bottom').hide()
            }

        }
    </script>
    <div class="col-xs-12 usercenter">
        <div class="uc">
          
            <include file="_log"/>
			
            <div class="row uc_content">
               
            </div>
        </div>
    </div>
</block>

