<include file="Index/_newHeader"/>

<body>
<section class="main fixed" data-page="home" id="active">
<header class="header">
    <div class="header_inner header_inner_02"><h1>提现明细</h1> 
    <a href="javascript:history.go(-1);" class="sq-header-index"></a> </div>
  </header>
  <article>
  <notempty name="list">
<volist  name="list"  id="vo">	
			  <div class="mingxi_sq_title_list">
		<div class="mingxi_sq_title_managerc">
			<h1>{$vo.remark} 
				<eq name="vo.status" value="0">
					<t style="margin-left:0.5rem;color:green;">冻结</t>
				</eq>
				<eq name="vo.status" value="-1">
					<t style="margin-left:0.5rem;color:gray;">退回</t>
				</eq>
				<eq name="vo.status" value="1">
					<t style="margin-left:0.5rem;color:red;">已提现</t>
				</eq>

			</h1>
			<p>{$vo.addtime|time_format="Y-m-d H:i:s"}</p>
		</div>
		<div class="mingxi_sq_title_jine">￥{$vo.money}</div>
  </div>
</volist>
</namespace>
  </article>
  <footer>
  </footer>
</section>
</body>
</html>