<extend name="Base/header"/>

<block name="body">
<link href="__CSS__/main.css" rel="stylesheet" />
<section class="main fixed" data-page="home" id="active">
  <header class="header">
    <div class="header_inner header_inner_02"><h1>银行卡</h1> 
    <a href="javascript:history.go(-1);" class="sq-header-index"></a> </div>
  </header>
  <article>
  <div class="yj_title_manager">
 <form id="form1" action="{:U('Ucenter/member/tixian')}" method="post">
  	<div class="sq_yj_box">
  		<a href="{:U('Ucenter/member/bankedit')}"><div class="div_yongjinone" ><h1>到账银行<span>
  		{$ext_info.bank_name}（{$ext_info.bank_no|substr="-4"}）
  		</span></h1>
		<h2>48小时到账</h2>
		</div>
		</a>
		 
  	</div>
  	<div class="sq_yj_box">
  		<h1>提现金额</h1>
  		<h3>￥<input type="text" class="input_text_jine" id="money" name="money"></h3>
  		<h1 style="color: #c4c4c4;">当前账户余额为{$info.Cash}元,<a class="quanbutixian"></a></h1>
  	</div>
	<div class="anniu" onclick="tixian(1);">提现</div>
</form>
  </div>
  </article>
</section>
<block name="javascript" >
<script src="__STATIC__/jquery-1.10.2.min.js"></script>
<script>
	function tixian(type){
		var money=$("#money").val();
		var weixin_no=$("#weixin_no").val();
		
		$.post("{:U('Ucenter/member/tixian')}",{money:money,type:type,weixin_no:weixin_no},function(data){
			  var obj = eval('(' + data+ ')');
			  if(obj.status==1){
				  alert(obj.msg);
				  window.location.href="{:U('Ucenter/member/tixianLog')}";
			  }else{
				  alert(obj.msg);
			  }
		});
		
	}
</script>
</block>