<section class="item" style="margin-top:20px;">
				<div style="float:left;width:30%">
					<img src="__IMG__/ba.png" style="width:80%">
				</div>
				<div style="float:left;width:45%">
					<h2 style="margin-bottom:0px;"  class="bt">霸王归来</h2>
					<p style="margin-bottom:0px;color:grey">大家都是霸王中的一员,霸王归来充满激情,血腥,一起来争霸天下吧,我在霸王归来等着你</p>
				</div>
				<div style="float:left;width:25%;padding-top:2rem;">
					<a href="tui.3011.cn/index.php?s=/Home/Down/down_file/game_id/822/promote_id/10514"><img src="__IMG__/xz.png" style="width:20rem;"></a>
				</div>
				<div style="clear:both;"></div>
				<hr style="borber:1px grey solid;" />
</section>

<section class="item" style="margin-top:20px;">
				<div style="float:left;width:30%">
					<img src="__IMG__/long.png" style="width:80%">
				</div>
				<div style="float:left;width:45%">
					<h2 style="margin-bottom:0px;"  class="bt">龍游天下</h2>
					<p style="margin-bottom:0px;color:grey">龍是王的象征,谁想称霸天下,问鼎中原，就来龍游天下，我等着你来挑战我</p>
				</div>
				<div style="float:left;width:25%;padding-top:2rem;">
					<a href=" tui.3011.cn/index.php?s=/Home/Down/down_file/game_id/908/promote_id/10514"><img src="__IMG__/xz.png" style="width:20rem;"></a>
				</div>
				<div style="clear:both;"></div>
				<hr style="borber:1px grey solid;" />
</section>