<extend name="Base/common"/>

<block name="style">
<link rel="stylesheet" type="text/css" href="__CSS__/home.css" />
</block>

<block name="script">

</block>
<block name="style">
<style>
.bt {
  color:#e46767;
}
</style>
</block>

<block name="body">
    <div class="containter">
		<div id="myNiceCarousel" class="carousel slide" data-ride="carousel">
			<!-- Carousel items -->
			<div class="carousel-inner" >
				<div class="item active" >
					<a href="http://wx.91yuji.com/index/partner/agent.html"><img  src="__IMG__/h5banner.png" style="width:100%"></a>
				</div>
				<div class="item">
					<img  src="__IMG__/h5banner.png" style="width:100%">
				</div>
			</div>
			<!-- Carousel nav -->
			<a class="left carousel-control" href="#myNiceCarousel" data-slide="prev">
			<span class="icon icon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#myNiceCarousel" data-slide="next">
				<span class="icon icon-chevron-right"></span>
			</a>
		</div>
		<div class="container">
			<section class="item" style="margin-top:20px;">
				<div style="float:left;width:30%">
					<img src="__IMG__/h5xch.png" style="width:80%">
				</div>
				<div style="float:left;width:45%">
					<h2 style="margin-bottom:0px;" class="bt">小吃货</h2>
					<p style="margin-bottom:0px;color:grey">看看你能吃多少美味佳肴？</p>
				</div>
				<div style="float:left;width:25%;padding-top:2rem;">
					<a href="http://yiyangwyx.com/g/t/cWprajE4NDA3"><img src="__IMG__/ksyx.png" style="width:20rem"></a>
				</div>
				<div style="clear:both;"></div>
				<hr style="borber:1px grey solid;" />
			</section>
			<div class="container">
			

		
		</div>
			
		</div>
		<div class="footer" style="background-color:#292f4e;height:220px;margin-top:20px;padding-top:35px;">
			<div style="width:60%;float:left;padding-left:2rem">
			<p style="color:#FFFFFF">客服电话：0755-86285584 </p>
			<p style="color:#FFFFFF">@娱记互动游戏软著权：软著登字第1639532号</p>
			
			<p style="color:#FFFFFF">网络文化经营许可证：湘网文（2017）2057-013号</p>
			<p style="color:#FFFFFF">ICP：湘B2-20160147</p>
			</div>
			<div style="width:40%;float:left;">
			<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIzNzY0OTIyNw==&scene=110#wechat_redirect"><img src="__IMG__/wxcode.jpg" style="width:80%;"/></a>
			</div>
		</div>
	</div>
</block>
<block name="script">


</block>