<extend name="Base/common"/>

<block name="style">
<link rel="stylesheet" type="text/css" href="__CSS__/home.css" />
</block>

<block name="script">

</block>
<block name="style">
<style>
.bt {
  color:#e46767;
}
</style>
</block>

<block name="body">
    <div id="main">
			
			<ul class="hiSlider hiSlider3">
				
				
				
				<li class="hiSlider-item"><a href="http://wx.91yuji.com/index/Gamepay/index.html"><img src="__IMG__/banner1.png"></a></li>
			    <li class="hiSlider-item"><img src="__IMG__/banner2.png"></li>
				<li class="hiSlider-item"><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIzNzY0OTIyNw==&scene=110#wechat_redirect"><img src="__IMG__/banner3.png"></a></li>
				<li class="hiSlider-item"><a href="http://dl.91yuji.com/index.php?s=/Home/index/lyxj.html"><img src="__IMG__/banner4.jpg"></a></li>
			</ul>
</div>
		<div class="container">
		
			<section class="item" style="margin-top:20px;">
				<div style="float:left;width:30%">
					<img src="__IMG__/sg.png" style="width:80%">
				</div>
				<div style="float:left;width:45%">
					<h2 style="margin-bottom:0px;"  class="bt">三国名将传</h2>
					<p style="margin-bottom:0px;color:grey">关羽、吕布、貂蝉、曹操，挂机就能得橙将，在线奖励实时领取！三国名将传，等你来战！</p>
				</div>
				<div style="float:left;width:25%;padding-top:2rem;">
					<a href="http://www.sanguogj.com/dytg/dy3/yj1.html"><img src="__IMG__/xz.png" style="width:20rem;"></a>
				</div>
				<div style="clear:both;"></div>
				<hr style="borber:1px grey solid;" />
			</section>
			
			
			
			

			<section class="item" style="margin-top:20px;">
				<div style="float:left;width:30%">
					<img src="__IMG__/20170524094526.png" style="width:80%">
				</div>
				<div style="float:left;width:45%">
					<h2 style="margin-bottom:0px;"  class="bt">龍游天下安卓版</h2>
					<p style="margin-bottom:0px;color:grey">龍是王的象征,谁想称霸天下,问鼎中原，就来龍游天下，我等着你来挑战我。（请在浏览器中打开）</p>
				</div>
				<div style="float:left;width:25%;padding-top:2rem;">
					<a href="http://tui.3011.cn/index.php?s=/Home/Down/down_file/game_id/908/promote_id/10514"><img src="__IMG__/xz.png" style="width:20rem;"></a>
				</div>
				<div style="clear:both;"></div>
				<hr style="borber:1px grey solid;" />
			</section>
			
		</div>
		<div class="footer" style="background-color:#292f4e;height:220px;margin-top:20px;padding-top:35px;">
			<div style="width:60%;float:left;padding-left:2rem">
			<p style="color:#FFFFFF">客服电话：400-705-8186</p>
			<p style="color:#FFFFFF">©娱记游戏 91yuji.com</p>
			<p style="color:#FFFFFF">软著权：软著登字第1639532号</p>
			<p style="color:#FFFFFF">网络文化经营许可证：湘网文（2017）2057-013号</p>
			<p style="color:#FFFFFF">ICP：湘B2-20160147</p>
			</div>
			<div style="width:40%;float:left;">
			<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIzNzY0OTIyNw==&scene=110#wechat_redirect"><img src="__IMG__/yjewm.jpg" style="width:80%;"/></a>
			</div>
		</div>
	</div>
</block>
<block name="script">


</block>