<extend name="Public/base" />

<block name="body">
	<div class="main-title cf">
		<h2>微信群发</h2>
	</div>
	<!-- 表单 -->
	<article><font style="color:red">请注意:</font>点击群发的时候，因为发送人员过多，反应会很慢，此时请勿关闭页面或者跳转页面，耐心等候提示信息，避免发送部分人员后中断！！</article>
    
    <div class="with-padding">
        <form id="form" action="{:U('wxModelSend')}" method="post" class="form-horizontal">
            <div class="form-item cf">
				<label class="item-label">模板类型<span class="check-tips">（文字）</span></label>
                <div class="controls">
                    <label class="text " >
					<select id="modelid" name="modelid" class=" form-control" style="width:400px">
					<volist name='modellist' id='vo'>
					<option value="{$vo.modelid}"/>{$vo.name}</option>
					</volist>
					</select>
					</label>
                </div>
                <label class="item-label">内容<span class="check-tips">（文字）</span></label>
                <div class="controls">
                    <label class="text " ><input id="first" name="first" class=" form-control" style="width:400px"  value="" placeholder="可以输入多行文本"/></label>
                </div>
				<label class="item-label">字段1<span class="check-tips">（文字）</span></label>
                <div class="controls">
                    <label class="text " ><input id="keyword1" name="keyword1" class=" form-control" style="width:400px"  value="" placeholder="可以输入多行文本"/></label>
                </div>
				<label class="item-label">字段2<span class="check-tips">（文字）</span></label>
                <div class="controls">
                    <label class="text " ><input id="keyword2" name="keyword2" class=" form-control " style="width:400px" value=""  placeholder="可以输入多行文本"/></label>
                </div>
				<label class="item-label">字段3<span class="check-tips">（文字）</span></label>
                <div class="controls">
                    <label class="text " ><input id="keyword3" name="keyword3" class=" form-control " style="width:400px" value=""  placeholder="可以输入多行文本"/></label>
                </div>
				<label class="item-label">字段4<span class="check-tips">（文字）</span></label>
                <div class="controls">
                    <label class="text " ><input id="keyword4" name="keyword4" class=" form-control " style="width:400px" value=""  placeholder="可以输入多行文本"/></label>
                </div>
				<label class="item-label">字段5<span class="check-tips">（文字）</span></label>
                <div class="controls">
                    <label class="text " ><input id="keyword5" name="keyword5" class=" form-control " style="width:400px" value=""  placeholder="可以输入多行文本"/></label>
                </div>
				<label class="item-label">备注<span class="check-tips">（文字）</span></label>
                <div class="controls">
                    <label class="text " ><input id="remark" name="remark" class=" form-control " style="width:400px"  value="" placeholder="可以输入多行文本"/></label>
                </div>
				<label class="item-label">链接<span class="check-tips">（文字）</span></label>
                <div class="controls">
                    <label class="text" ><input id="url" name="url" class=" form-control " style="width:400px" value=""  placeholder="可以输入多行文本"/></label>
                </div>
                
            <div class="form-item">
                <input type="hidden" name="id" value="{$data.id}"/>
                <button type="button" onclick="preview()" class="btn" target-form="form-horizontal">预览</button>
                <button type="submit" class="btn submit-btn ajax-post confirm" target-form="form-horizontal" >群发</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
               
            </div>
        </form>
    </div>

</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" charset="utf-8">
	Think.setValue('type',{$type|default=1});
    //导航高亮
    highlight_subnav('{:U('User/action')}');
</script>

<script>
 	function preview(){
		var modelid=$("#modelid").val();
 		var first=$("#first").val();
		var keyword1=$("#keyword1").val();
		var keyword2=$("#keyword2").val();
		var keyword3=$("#keyword3").val();
		var keyword4=$("#keyword4").val();
		var keyword5=$("#keyword5").val();
		var remark=$("#remark").val();
		var url=$("#url").val();
 		$.post("{:U('wxModelPreview')}",{modelid:modelid,first:first,keyword1:keyword1,keyword2:keyword2,keyword3:keyword3,keyword4:keyword4,keyword5:keyword5,remark:remark,url:url},function(data){
 			if(data){
 				alert(data);
 			}else{
 				alert("系统出错，请联系欧阳长空");
 			}
 		});
 		
 	}
</script>
</block>
